# Timetable

The primary objective of this script is to gather precise arrival timings for both buses and trams at every stop located in Warsaw. Executing the script on a particular day will provide the timetable for that specific day. For instance, in this case, the data was collected on the 16th of January 2023, and thus the obtained timetable is valid only for this day.

Importing the needed libraries

In [1]:
import urllib.request, json
import pandas as pd
import requests

Data regarding all the stops in Warsaw is gathered through the API access point (https://api.um.warszawa.pl/). The gathered data is then stored in the df_loc DataFrame. The essential information extracted from the API includes:
1. Stop number ('zespol')
2. Stop label ('slupek')
3. Longitude ('dlug_geo')
4. Latitude ('szer_geo')

In [2]:
params = {
        "id": "ab75c33d-3a26-4342-b36a-6e5fef0a3ac3",
        "apikey": "0cecd684-f566-4629-9dc2-c4dd5f49748f"
    }
import requests
response = requests.get("https://api.um.warszawa.pl/api/action/dbstore_get/", params=params)
data = response.json()
df_loc = []
for x in range(len(data['result'])):
    df_append = pd.DataFrame(data['result'][x]['values'])
    df_append = df_append.set_index('key')['value'].rename_axis(None)
    df_append = pd.DataFrame(df_append).T
    if x == 0:
        df_loc = df_append
    else:
        df_loc = pd.concat([df_loc, df_append])
df_loc = df_loc.reset_index()

At this stage, we collect accurate arrival time data. We send a request to the API for each stop number, stop label, and line number. Using this information, we generate timetable DataFrame, which includes:
1. Fleet number ('brygada')
2. Time ('czas')
3. Stop name ('stop_name')
4. Stop number ('stop_id')
5. Stop label ('bus_stop_nr')
6. Line number ('line')

Finally, we save this DataFrame as a 'timetable.csv' file, which is available in the repository. This file will be required for the next phase of the project.

In [16]:
timetable = []
stops = list(df_loc['zespol'].unique())
for x in stops:
    bus_stop_nrs = list(df_loc[df_loc['zespol'] == str(x)]['slupek'].unique())
    for y in bus_stop_nrs:
        with urllib.request.urlopen("https://api.um.warszawa.pl/api/action/dbtimetable_get/?id=88cd555f-6f31-43ca-9de4-66c479ad5942&busstopId={0}&busstopNr={1}&apikey=0cecd684-f566-4629-9dc2-c4dd5f49748f".format(str(x), str(y))) as url:
            data = json.loads(url.read().decode())['result']
        lines = []
        for i in data:
            lines.append(i['values'][0]['value'])
        for z in lines:
            params = {"id": "e923fa0e-d96c-43f9-ae6e-60518c9f3238",
                      "busstopId": str(x),
                      "busstopNr": str(y),
                      "line": str(z),
                      "apikey": "0cecd684-f566-4629-9dc2-c4dd5f49748f"}
            with requests.get("https://api.um.warszawa.pl/api/action/dbtimetable_get/", params=params) as response:
                res = response.json()
            df = []
            for j in list(res['result']):
                df_append = pd.DataFrame(j['values'])
                df_append = df_append.set_index('key')['value'].rename_axis(None)
                df_append = pd.DataFrame(df_append).T
                if j == list(res['result'])[0]:
                    df = df_append
                else:
                    df = pd.concat([df, df_append])
            if type(df) == list:
                break
            df = df.reset_index()[['brygada', 'czas']]
            df['stop_name'] = df_loc[(df_loc['slupek'] == str(y)) & (df_loc['zespol'] == str(x))].iloc[0]['nazwa_zespolu']
            df['stop_id'] = x
            df['bus_stop_nr'] = y
            df['line'] = z
            df['Lat'] = df_loc[(df_loc['slupek'] == str(y)) & (df_loc['zespol'] == str(x))].iloc[0]['szer_geo']
            df['Lon'] = df_loc[(df_loc['slupek'] == str(y)) & (df_loc['zespol'] == str(x))].iloc[0]['dlug_geo']
            if type(timetable) == list:
                timetable = df
            else:
                timetable = pd.concat([timetable, df])

timetable.to_csv('timetable.csv')

    brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0         1  04:48:00  Płochocińska    1017          01  186  52.307248
1         2  04:59:00  Płochocińska    1017          01  186  52.307248
2         3  05:09:00  Płochocińska    1017          01  186  52.307248
3         4  05:19:00  Płochocińska    1017          01  186  52.307248
4         5  05:29:00  Płochocińska    1017          01  186  52.307248
..      ...       ...           ...     ...         ...  ...        ...
98       12  21:49:00  Płochocińska    1017          01  186  52.307248
99        2  22:09:00  Płochocińska    1017          01  186  52.307248
100      67  22:29:00  Płochocińska    1017          01  186  52.307248
101     018  22:49:00  Płochocińska    1017          01  186  52.307248
102      10  23:18:00  Płochocińska    1017          01  186  52.307248

           Lon
0    20.983925
1    20.983925
2    20.983925
3    20.983925
4    20.983925
..         ...
98   20.983925
99   20.983925
100  20.983925
101  20.983925
102  20.983925

[103 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
25      05  18:07:00  Płochocińska    1017          01  326  52.307248
26      01  18:27:00  Płochocińska    1017          01  326  52.307248
27      02  18:47:00  Płochocińska    1017          01  326  52.307248
28      03  19:07:00  Płochocińska    1017          01  326  52.307248
29      04  19:27:00  Płochocińska    1017          01  326  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
25  20.983925
26  20.983925
27  20.983925
28  20.983925
29  20.983925

[133 rows x 8 columns]
    brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0         1  04:48:00  Płochocińska    1017          01  186  52.307248
1         2  04:59:00  Płochocińska    1017          01  186  52.307248
2         3  05:09:00  Płochocińska    1017          01  186  52.307248
3         4  05:19:00  Płochocińska    1017          01  186  52.307248
4         5  05:29:00  Płochocińska    1017          01  186  52.307248
..      ...       ...           ...     ...         ...  ...        ...
130       6  22:37:00  Płochocińska    1017          01  509  52.307248
131       7  22:52:00  Płochocińska    1017          01  509  52.307248
132      10  23:22:00  Płochocińska    1017          01  509  52.307248
133      13  23:45:00  Płochocińska    1017          01  509  52.307248
134       2  24:15:00  Płochocińska    1017          01  509  52.307248

           Lon
0    20.983925
1    20.983925
2    20.983925
3    20.983925
4    20.983925
..         ...
130  20.983925
131  20.983925
132  20.983925
133  20.983925
134  20.983925

[268 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
65       4  21:41:00  Płochocińska    1017          01  516  52.307248
66       5  22:01:00  Płochocińska    1017          01  516  52.307248
67       2  22:21:00  Płochocińska    1017          01  516  52.307248
68       4  22:48:00  Płochocińska    1017          01  516  52.307248
69       2  23:18:00  Płochocińska    1017          01  516  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
65  20.983925
66  20.983925
67  20.983925
68  20.983925
69  20.983925

[338 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
60       6  21:04:00  Płochocińska    1017          01  518  52.307248
61       7  21:32:00  Płochocińska    1017          01  518  52.307248
62       2  22:02:00  Płochocińska    1017          01  518  52.307248
63       5  22:32:00  Płochocińska    1017          01  518  52.307248
64       6  23:02:00  Płochocińska    1017          01  518  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
60  20.983925
61  20.983925
62  20.983925
63  20.983925
64  20.983925

[403 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
23      65  19:57:00  Płochocińska    1017          01  705  52.307248
24      07  20:47:00  Płochocińska    1017          01  705  52.307248
25      66  21:46:00  Płochocińska    1017          01  705  52.307248
26      65  22:46:00  Płochocińska    1017          01  705  52.307248
27      07  23:16:00  Płochocińska    1017          01  705  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
23  20.983925
24  20.983925
25  20.983925
26  20.983925
27  20.983925

[431 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
39      63  21:22:00  Płochocińska    1017          01  723  52.307248
40      66  21:51:00  Płochocińska    1017          01  723  52.307248
41      64  22:24:00  Płochocińska    1017          01  723  52.307248
42      63  23:04:00  Płochocińska    1017          01  723  52.307248
43      67  23:44:00  Płochocińska    1017          01  723  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
39  20.983925
40  20.983925
41  20.983925
42  20.983925
43  20.983925

[475 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
38      65  21:40:00  Płochocińska    1017          01  731  52.307248
39      67  22:10:00  Płochocińska    1017          01  731  52.307248
40      68  22:48:00  Płochocińska    1017          01  731  52.307248
41      69  23:28:00  Płochocińska    1017          01  731  52.307248
42      66  24:08:00  Płochocińska    1017          01  731  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
38  20.983925
39  20.983925
40  20.983925
41  20.983925
42  20.983925

[518 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
12      62  18:21:00  Płochocińska    1017          01  735  52.307248
13      64  19:17:00  Płochocińska    1017          01  735  52.307248
14      63  20:17:00  Płochocińska    1017          01  735  52.307248
15      62  21:16:00  Płochocińska    1017          01  735  52.307248
16      64  22:16:00  Płochocińska    1017          01  735  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
12  20.983925
13  20.983925
14  20.983925
15  20.983925
16  20.983925

[535 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
10       1  17:13:00  Płochocińska    1017          01  736  52.307248
11       2  18:13:00  Płochocińska    1017          01  736  52.307248
12       1  19:33:00  Płochocińska    1017          01  736  52.307248
13       2  20:33:00  Płochocińska    1017          01  736  52.307248
14       1  22:02:00  Płochocińska    1017          01  736  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
10  20.983925
11  20.983925
12  20.983925
13  20.983925
14  20.983925

[550 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
6        2  26:33:00  Płochocińska    1017          01  N03  52.307248
7        3  27:00:00  Płochocińska    1017          01  N03  52.307248
8        4  27:28:00  Płochocińska    1017          01  N03  52.307248
9        5  27:58:00  Płochocińska    1017          01  N03  52.307248
10       6  28:28:00  Płochocińska    1017          01  N03  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
6   20.983925
7   20.983925
8   20.983925
9   20.983925
10  20.983925

[561 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
2      148  24:46:00  Płochocińska    1017          01  N13  52.307248
3      252  25:46:00  Płochocińska    1017          01  N13  52.307248
4      245  26:46:00  Płochocińska    1017          01  N13  52.307248
5      129  27:46:00  Płochocińska    1017          01  N13  52.307248
6      247  28:46:00  Płochocińska    1017          01  N13  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
2   20.983925
3   20.983925
4   20.983925
5   20.983925
6   20.983925

[568 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
0      246  23:46:00  Płochocińska    1017          01  N63  52.307248
1      245  25:16:00  Płochocińska    1017          01  N63  52.307248
2      246  26:16:00  Płochocińska    1017          01  N63  52.307248
3      149  27:16:00  Płochocińska    1017          01  N63  52.307248
4      252  28:16:00  Płochocińska    1017          01  N63  52.307248

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925

[573 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
30       4  20:19:00  Płochocińska    1017          02  126  52.308804
31       1  20:49:00  Płochocińska    1017          02  126  52.308804
32       3  21:19:00  Płochocińska    1017          02  126  52.308804
33       4  21:47:00  Płochocińska    1017          02  126  52.308804
34       1  22:17:00  Płochocińska    1017          02  126  52.308804

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
30  20.982744
31  20.982744
32  20.982744
33  20.982744
34  20.982744

[608 rows x 8 columns]
    brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0         1  04:48:00  Płochocińska    1017          01  186  52.307248
1         2  04:59:00  Płochocińska    1017          01  186  52.307248
2         3  05:09:00  Płochocińska    1017          01  186  52.307248
3         4  05:19:00  Płochocińska    1017          01  186  52.307248
4         5  05:29:00  Płochocińska    1017          01  186  52.307248
..      ...       ...           ...     ...         ...  ...        ...
96      018  22:10:00  Płochocińska    1017          02  186  52.308804
97       10  22:30:00  Płochocińska    1017          02  186  52.308804
98       11  22:50:00  Płochocińska    1017          02  186  52.308804
99       12  23:10:00  Płochocińska    1017          02  186  52.308804
100       2  23:35:00  Płochocińska    1017          02  186  52.308804

           Lon
0    20.983925
1    20.983925
2    20.983925
3    20.983925
4    20.983925
..         ...
96   20.982744
97   20.982744
98   20.982744
99   20.982744
100  20.982744

[709 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
22       4  17:43:00  Płochocińska    1017          02  314  52.308804
23       1  18:13:00  Płochocińska    1017          02  314  52.308804
24       2  18:42:00  Płochocińska    1017          02  314  52.308804
25       3  19:11:00  Płochocińska    1017          02  314  52.308804
26       4  19:49:00  Płochocińska    1017          02  314  52.308804

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
22  20.982744
23  20.982744
24  20.982744
25  20.982744
26  20.982744

[736 rows x 8 columns]

    brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0         1  04:48:00  Płochocińska    1017          01  186  52.307248
1         2  04:59:00  Płochocińska    1017          01  186  52.307248
2         3  05:09:00  Płochocińska    1017          01  186  52.307248
3         4  05:19:00  Płochocińska    1017          01  186  52.307248
4         5  05:29:00  Płochocińska    1017          01  186  52.307248
..      ...       ...           ...     ...         ...  ...        ...
121      10  22:28:00  Płochocińska    1017          02  509  52.308804
122      12  22:43:00  Płochocińska    1017          02  509  52.308804
123      13  22:58:00  Płochocińska    1017          02  509  52.308804
124     247  23:13:00  Płochocińska    1017          02  509  52.308804
125       2  23:28:00  Płochocińska    1017          02  509  52.308804

           Lon
0    20.983925
1    20.983925
2    20.983925
3    20.983925
4    20.983925
..         ...
121  20.982744
122  20.982744
123  20.982744
124  20.982744
125  20.982744

[862 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
63       2  21:32:00  Płochocińska    1017          02  516  52.308804
64       3  21:47:00  Płochocińska    1017          02  516  52.308804
65       4  22:04:00  Płochocińska    1017          02  516  52.308804
66       2  22:34:00  Płochocińska    1017          02  516  52.308804
67       4  23:04:00  Płochocińska    1017          02  516  52.308804

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
63  20.982744
64  20.982744
65  20.982744
66  20.982744
67  20.982744

[930 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
57       3  21:21:00  Płochocińska    1017          02  518  52.308804
58       5  21:51:00  Płochocińska    1017          02  518  52.308804
59       6  22:21:00  Płochocińska    1017          02  518  52.308804
60     246  22:51:00  Płochocińska    1017          02  518  52.308804
61       2  23:21:00  Płochocińska    1017          02  518  52.308804

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
57  20.982744
58  20.982744
59  20.982744
60  20.982744
61  20.982744

[992 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
39      64  21:10:00  Płochocińska    1017          02  723  52.308804
40      63  21:50:00  Płochocińska    1017          02  723  52.308804
41      67  22:30:00  Płochocińska    1017          02  723  52.308804
42      68  23:09:00  Płochocińska    1017          02  723  52.308804
43     245  23:44:00  Płochocińska    1017          02  723  52.308804

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
39  20.982744
40  20.982744
41  20.982744
42  20.982744
43  20.982744

[1036 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
38      67  20:20:00  Płochocińska    1017          02  731  52.308804
39      68  20:50:00  Płochocińska    1017          02  731  52.308804
40      69  21:30:00  Płochocińska    1017          02  731  52.308804
41      66  22:10:00  Płochocińska    1017          02  731  52.308804
42      64  22:50:00  Płochocińska    1017          02  731  52.308804

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
38  20.982744
39  20.982744
40  20.982744
41  20.982744
42  20.982744

[1079 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
6        4  26:49:00  Płochocińska    1017          02  N03  52.308804
7        5  27:19:00  Płochocińska    1017          02  N03  52.308804
8        6  27:49:00  Płochocińska    1017          02  N03  52.308804
9        1  28:19:00  Płochocińska    1017          02  N03  52.308804
10       2  28:50:00  Płochocińska    1017          02  N03  52.308804

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
6   20.982744
7   20.982744
8   20.982744
9   20.982744
10  20.982744

[1090 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
3      245  26:10:00  Płochocińska    1017          02  N13  52.308804
4      129  27:10:00  Płochocińska    1017          02  N13  52.308804
5      247  28:10:00  Płochocińska    1017          02  N13  52.308804
6      129  28:40:00  Płochocińska    1017          02  N13  52.308804
7       67  29:10:00  Płochocińska    1017          02  N13  52.308804

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   20.982744
4   20.982744
5   20.982744
6   20.982744
7   20.982744

[1098 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       67  29:10:00  Płochocińska    1017          02  N13  52.308804
0      246  24:40:00  Płochocińska    1017          02  N63  52.308804
1      149  25:40:00  Płochocińska    1017          02  N63  52.308804
2      252  26:40:00  Płochocińska    1017          02  N63  52.308804
3      245  27:40:00  Płochocińska    1017          02  N63  52.308804

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   20.982744
0   20.982744
1   20.982744
2   20.982744
3   20.982744

[1102 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
30       3  20:16:00  Płochocińska    1017          04  126  52.308290
31       4  20:46:00  Płochocińska    1017          04  126  52.308290
32       1  21:16:00  Płochocińska    1017          04  126  52.308290
33       3  21:51:00  Płochocińska    1017          04  126  52.308290
34       4  22:16:00  Płochocińska    1017          04  126  52.308290

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
30  20.984730
31  20.984730
32  20.984730
33  20.984730
34  20.984730

[1137 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
24       4  18:27:00  Płochocińska    1017          04  314  52.308290
25       1  18:57:00  Płochocińska    1017          04  314  52.308290
26       2  19:29:00  Płochocińska    1017          04  314  52.308290
27       3  19:59:00  Płochocińska    1017          04  314  52.308290
28       4  20:29:00  Płochocińska    1017          04  314  52.308290

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
24  20.984730
25  20.984730
26  20.984730
27  20.984730
28  20.984730

[1166 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
23      04  18:38:00  Płochocińska    1017          04  326  52.308290
24      05  19:07:00  Płochocińska    1017          04  326  52.308290
25      02  19:37:00  Płochocińska    1017          04  326  52.308290
26      03  20:07:00  Płochocińska    1017          04  326  52.308290
27      04  20:35:00  Płochocińska    1017          04  326  52.308290

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
23  20.984730
24  20.984730
25  20.984730
26  20.984730
27  20.984730

[1194 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
23      65  20:50:00  Płochocińska    1017          04  705  52.308290
24      07  21:50:00  Płochocińska    1017          04  705  52.308290
25      64  22:50:00  Płochocińska    1017          04  705  52.308290
26      71  23:20:00  Płochocińska    1017          04  705  52.308290
27      72  23:50:00  Płochocińska    1017          04  705  52.308290

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
23  20.984730
24  20.984730
25  20.984730
26  20.984730
27  20.984730

[1222 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
12      63  18:23:00  Płochocińska    1017          04  735  52.308290
13      62  19:22:00  Płochocińska    1017          04  735  52.308290
14      64  20:20:00  Płochocińska    1017          04  735  52.308290
15      63  21:20:00  Płochocińska    1017          04  735  52.308290
16      66  22:20:00  Płochocińska    1017          04  735  52.308290

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
12  20.984730
13  20.984730
14  20.984730
15  20.984730
16  20.984730

[1239 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
10       2  16:28:00  Płochocińska    1017          04  736  52.308290
11       1  17:48:00  Płochocińska    1017          04  736  52.308290
12       2  18:48:00  Płochocińska    1017          04  736  52.308290
13       1  20:10:00  Płochocińska    1017          04  736  52.308290
14       1  22:35:00  Płochocińska    1017          04  736  52.308290

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
10  20.984730
11  20.984730
12  20.984730
13  20.984730
14  20.984730

[1254 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       3  21:36:00       Sagalli    2345          01  198  52.222352
76       1  22:06:00       Sagalli    2345          01  198  52.222352
77       3  22:36:00       Sagalli    2345          01  198  52.222352
78       1  23:06:00       Sagalli    2345          01  198  52.222352
79       3  23:36:00       Sagalli    2345          01  198  52.222352

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.222973
76  21.222973
77  21.222973
78  21.222973
79  21.222973

[1334 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       1  21:47:00       Sagalli    2345          02  198  52.221737
76       3  22:17:00       Sagalli    2345          02  198  52.221737
77       1  22:47:00       Sagalli    2345          02  198  52.221737
78       3  23:17:00       Sagalli    2345          02  198  52.221737
79       1  23:47:00       Sagalli    2345          02  198  52.221737

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.222793
76  21.222793
77  21.222793
78  21.222793
79  21.222793

[1414 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
0        1  24:04:00       Sagalli    2345          02  N21  52.221737
1        2  25:03:00       Sagalli    2345          02  N21  52.221737
2        1  26:02:00       Sagalli    2345          02  N21  52.221737
3        2  27:02:00       Sagalli    2345          02  N21  52.221737
4        1  28:02:00       Sagalli    2345          02  N21  52.221737

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
0   21.222793
1   21.222793
2   21.222793
3   21.222793
4   21.222793

[1419 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       3  21:35:00       Torfowa    2346          01  198  52.218296
76       1  22:05:00       Torfowa    2346          01  198  52.218296
77       3  22:35:00       Torfowa    2346          01  198  52.218296
78       1  23:05:00       Torfowa    2346          01  198  52.218296
79       3  23:35:00       Torfowa    2346          01  198  52.218296

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.222700
76  21.222700
77  21.222700
78  21.222700
79  21.222700

[1499 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
53       5  22:19:00       Torfowa    2346          02  147  52.217678
54       1  22:49:00       Torfowa    2346          02  147  52.217678
55       3  23:19:00       Torfowa    2346          02  147  52.217678
56       4  23:49:00       Torfowa    2346          02  147  52.217678
57       5  24:19:00       Torfowa    2346          02  147  52.217678

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
53  21.223467
54  21.223467
55  21.223467
56  21.223467
57  21.223467

[1557 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76       9  22:19:00       Torfowa    2346          02  173  52.217678
77      10  22:34:00       Torfowa    2346          02  173  52.217678
78     011  22:49:00       Torfowa    2346          02  173  52.217678
79       2  23:04:00       Torfowa    2346          02  173  52.217678
80       5  23:34:00       Torfowa    2346          02  173  52.217678

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.223467
77  21.223467
78  21.223467
79  21.223467
80  21.223467

[1638 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       1  21:48:00       Torfowa    2346          02  198  52.217678
76       3  22:18:00       Torfowa    2346          02  198  52.217678
77       1  22:48:00       Torfowa    2346          02  198  52.217678
78       3  23:18:00       Torfowa    2346          02  198  52.217678
79       1  23:48:00       Torfowa    2346          02  198  52.217678

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.223467
76  21.223467
77  21.223467
78  21.223467
79  21.223467

[1718 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       65  15:40:00       Torfowa    2346          02  411  52.217678
8       67  16:10:00       Torfowa    2346          02  411  52.217678
9       61  16:40:00       Torfowa    2346          02  411  52.217678
10     070  17:10:00       Torfowa    2346          02  411  52.217678
11      65  17:40:00       Torfowa    2346          02  411  52.217678

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   21.223467
8   21.223467
9   21.223467
10  21.223467
11  21.223467

[1730 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75      66  22:10:00       Torfowa    2346          02  502  52.217678
76      68  22:25:00       Torfowa    2346          02  502  52.217678
77      61  22:40:00       Torfowa    2346          02  502  52.217678
78       3  23:10:00       Torfowa    2346          02  502  52.217678
79      66  23:47:00       Torfowa    2346          02  502  52.217678

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.223467
76  21.223467
77  21.223467
78  21.223467
79  21.223467

[1810 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
0        1  24:05:00       Torfowa    2346          02  N21  52.217678
1        2  25:04:00       Torfowa    2346          02  N21  52.217678
2        1  26:03:00       Torfowa    2346          02  N21  52.217678
3        2  27:03:00       Torfowa    2346          02  N21  52.217678
4        1  28:03:00       Torfowa    2346          02  N21  52.217678

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
0   21.223467
1   21.223467
2   21.223467
3   21.223467
4   21.223467

[1815 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
54       3  21:37:00       Torfowa    2346          03  147  52.217794
55       4  22:07:00       Torfowa    2346          03  147  52.217794
56       5  22:37:00       Torfowa    2346          03  147  52.217794
57       1  23:07:00       Torfowa    2346          03  147  52.217794
58       3  23:37:00       Torfowa    2346          03  147  52.217794

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
54  21.221785
55  21.221785
56  21.221785
57  21.221785
58  21.221785

[1874 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76      10  22:22:00       Torfowa    2346          03  173  52.217794
77     011  22:37:00       Torfowa    2346          03  173  52.217794
78       2  22:52:00       Torfowa    2346          03  173  52.217794
79       5  23:22:00       Torfowa    2346          03  173  52.217794
80     012  23:51:00       Torfowa    2346          03  173  52.217794

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.221785
77  21.221785
78  21.221785
79  21.221785
80  21.221785

[1955 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       64  17:19:00       Torfowa    2346          03  411  52.217794
8       66  17:49:00       Torfowa    2346          03  411  52.217794
9       68  18:19:00       Torfowa    2346          03  411  52.217794
10      62  18:49:00       Torfowa    2346          03  411  52.217794
11      64  19:19:00       Torfowa    2346          03  411  52.217794

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   21.221785
8   21.221785
9   21.221785
10  21.221785
11  21.221785

[1967 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
72      68  22:14:00       Torfowa    2346          03  502  52.217794
73      61  22:29:00       Torfowa    2346          03  502  52.217794
74       3  22:44:00       Torfowa    2346          03  502  52.217794
75      64  23:11:00       Torfowa    2346          03  502  52.217794
76      66  23:41:00       Torfowa    2346          03  502  52.217794

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
72  21.221785
73  21.221785
74  21.221785
75  21.221785
76  21.221785

[2044 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
53       5  22:18:00       Torfowa    2346          04  147  52.217719
54       1  22:48:00       Torfowa    2346          04  147  52.217719
55       3  23:18:00       Torfowa    2346          04  147  52.217719
56       4  23:48:00       Torfowa    2346          04  147  52.217719
57       5  24:18:00       Torfowa    2346          04  147  52.217719

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
53  21.220552
54  21.220552
55  21.220552
56  21.220552
57  21.220552

[2102 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76       9  22:18:00       Torfowa    2346          04  173  52.217719
77      10  22:33:00       Torfowa    2346          04  173  52.217719
78     011  22:48:00       Torfowa    2346          04  173  52.217719
79       2  23:03:00       Torfowa    2346          04  173  52.217719
80       5  23:33:00       Torfowa    2346          04  173  52.217719

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.220552
77  21.220552
78  21.220552
79  21.220552
80  21.220552

[2183 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       65  15:39:00       Torfowa    2346          04  411  52.217719
8       67  16:09:00       Torfowa    2346          04  411  52.217719
9       61  16:39:00       Torfowa    2346          04  411  52.217719
10     070  17:09:00       Torfowa    2346          04  411  52.217719
11      65  17:39:00       Torfowa    2346          04  411  52.217719

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   21.220552
8   21.220552
9   21.220552
10  21.220552
11  21.220552

[2195 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75      66  22:09:00       Torfowa    2346          04  502  52.217719
76      68  22:24:00       Torfowa    2346          04  502  52.217719
77      61  22:39:00       Torfowa    2346          04  502  52.217719
78       3  23:09:00       Torfowa    2346          04  502  52.217719
79      66  23:46:00       Torfowa    2346          04  502  52.217719

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.220552
76  21.220552
77  21.220552
78  21.220552
79  21.220552

[2275 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
54       3  21:36:00     Marmurowa    2347          01  147  52.216629
55       4  22:06:00     Marmurowa    2347          01  147  52.216629
56       5  22:36:00     Marmurowa    2347          01  147  52.216629
57       1  23:06:00     Marmurowa    2347          01  147  52.216629
58       3  23:36:00     Marmurowa    2347          01  147  52.216629

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
54  21.229307
55  21.229307
56  21.229307
57  21.229307
58  21.229307

[2334 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76      10  22:21:00     Marmurowa    2347          01  173  52.216629
77     011  22:36:00     Marmurowa    2347          01  173  52.216629
78       2  22:51:00     Marmurowa    2347          01  173  52.216629
79       5  23:21:00     Marmurowa    2347          01  173  52.216629
80     012  23:50:00     Marmurowa    2347          01  173  52.216629

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.229307
77  21.229307
78  21.229307
79  21.229307
80  21.229307

[2415 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       3  21:34:00     Marmurowa    2347          01  198  52.216629
76       1  22:04:00     Marmurowa    2347          01  198  52.216629
77       3  22:34:00     Marmurowa    2347          01  198  52.216629
78       1  23:04:00     Marmurowa    2347          01  198  52.216629
79       3  23:34:00     Marmurowa    2347          01  198  52.216629

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.229307
76  21.229307
77  21.229307
78  21.229307
79  21.229307

[2495 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       64  17:18:00     Marmurowa    2347          01  411  52.216629
8       66  17:48:00     Marmurowa    2347          01  411  52.216629
9       68  18:18:00     Marmurowa    2347          01  411  52.216629
10      62  18:48:00     Marmurowa    2347          01  411  52.216629
11      64  19:18:00     Marmurowa    2347          01  411  52.216629

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   21.229307
8   21.229307
9   21.229307
10  21.229307
11  21.229307

[2507 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
72      68  22:13:00     Marmurowa    2347          01  502  52.216629
73      61  22:28:00     Marmurowa    2347          01  502  52.216629
74       3  22:43:00     Marmurowa    2347          01  502  52.216629
75      64  23:10:00     Marmurowa    2347          01  502  52.216629
76      66  23:40:00     Marmurowa    2347          01  502  52.216629

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
72  21.229307
73  21.229307
74  21.229307
75  21.229307
76  21.229307

[2584 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
53       5  22:20:00     Marmurowa    2347          02  147  52.216435
54       1  22:50:00     Marmurowa    2347          02  147  52.216435
55       3  23:20:00     Marmurowa    2347          02  147  52.216435
56       4  23:50:00     Marmurowa    2347          02  147  52.216435
57       5  24:20:00     Marmurowa    2347          02  147  52.216435

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
53  21.230795
54  21.230795
55  21.230795
56  21.230795
57  21.230795

[2642 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76       9  22:20:00     Marmurowa    2347          02  173  52.216435
77      10  22:35:00     Marmurowa    2347          02  173  52.216435
78     011  22:50:00     Marmurowa    2347          02  173  52.216435
79       2  23:05:00     Marmurowa    2347          02  173  52.216435
80       5  23:35:00     Marmurowa    2347          02  173  52.216435

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.230795
77  21.230795
78  21.230795
79  21.230795
80  21.230795

[2723 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       1  21:49:00     Marmurowa    2347          02  198  52.216435
76       3  22:19:00     Marmurowa    2347          02  198  52.216435
77       1  22:49:00     Marmurowa    2347          02  198  52.216435
78       3  23:19:00     Marmurowa    2347          02  198  52.216435
79       1  23:49:00     Marmurowa    2347          02  198  52.216435

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.230795
76  21.230795
77  21.230795
78  21.230795
79  21.230795

[2803 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       65  15:41:00     Marmurowa    2347          02  411  52.216435
8       67  16:11:00     Marmurowa    2347          02  411  52.216435
9       61  16:41:00     Marmurowa    2347          02  411  52.216435
10     070  17:11:00     Marmurowa    2347          02  411  52.216435
11      65  17:41:00     Marmurowa    2347          02  411  52.216435

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   21.230795
8   21.230795
9   21.230795
10  21.230795
11  21.230795

[2815 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75      66  22:11:00     Marmurowa    2347          02  502  52.216435
76      68  22:26:00     Marmurowa    2347          02  502  52.216435
77      61  22:41:00     Marmurowa    2347          02  502  52.216435
78       3  23:11:00     Marmurowa    2347          02  502  52.216435
79      66  23:48:00     Marmurowa    2347          02  502  52.216435

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.230795
76  21.230795
77  21.230795
78  21.230795
79  21.230795

[2895 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
0        1  24:06:00     Marmurowa    2347          02  N21  52.216435
1        2  25:05:00     Marmurowa    2347          02  N21  52.216435
2        1  26:04:00     Marmurowa    2347          02  N21  52.216435
3        2  27:04:00     Marmurowa    2347          02  N21  52.216435
4        1  28:04:00     Marmurowa    2347          02  N21  52.216435

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
0   21.230795
1   21.230795
2   21.230795
3   21.230795
4   21.230795

[2900 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
54       3  21:35:00       Pogodna    2348          01  147  52.216165
55       4  22:05:00       Pogodna    2348          01  147  52.216165
56       5  22:35:00       Pogodna    2348          01  147  52.216165
57       1  23:05:00       Pogodna    2348          01  147  52.216165
58       3  23:35:00       Pogodna    2348          01  147  52.216165

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
54  21.238520
55  21.238520
56  21.238520
57  21.238520
58  21.238520

[2959 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76      10  22:20:00       Pogodna    2348          01  173  52.216165
77     011  22:35:00       Pogodna    2348          01  173  52.216165
78       2  22:50:00       Pogodna    2348          01  173  52.216165
79       5  23:20:00       Pogodna    2348          01  173  52.216165
80     012  23:49:00       Pogodna    2348          01  173  52.216165

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.238520
77  21.238520
78  21.238520
79  21.238520
80  21.238520

[3040 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       3  21:33:00       Pogodna    2348          01  198  52.216165
76       1  22:03:00       Pogodna    2348          01  198  52.216165
77       3  22:33:00       Pogodna    2348          01  198  52.216165
78       1  23:03:00       Pogodna    2348          01  198  52.216165
79       3  23:33:00       Pogodna    2348          01  198  52.216165

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.238520
76  21.238520
77  21.238520
78  21.238520
79  21.238520

[3120 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       64  17:17:00       Pogodna    2348          01  411  52.216165
8       66  17:47:00       Pogodna    2348          01  411  52.216165
9       68  18:17:00       Pogodna    2348          01  411  52.216165
10      62  18:47:00       Pogodna    2348          01  411  52.216165
11      64  19:17:00       Pogodna    2348          01  411  52.216165

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   21.238520
8   21.238520
9   21.238520
10  21.238520
11  21.238520

[3132 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
72      68  22:12:00       Pogodna    2348          01  502  52.216165
73      61  22:27:00       Pogodna    2348          01  502  52.216165
74       3  22:42:00       Pogodna    2348          01  502  52.216165
75      64  23:09:00       Pogodna    2348          01  502  52.216165
76      66  23:39:00       Pogodna    2348          01  502  52.216165

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
72  21.238520
73  21.238520
74  21.238520
75  21.238520
76  21.238520

[3209 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
53       5  22:21:00       Pogodna    2348          02  147  52.216075
54       1  22:51:00       Pogodna    2348          02  147  52.216075
55       3  23:21:00       Pogodna    2348          02  147  52.216075
56       4  23:51:00       Pogodna    2348          02  147  52.216075
57       5  24:21:00       Pogodna    2348          02  147  52.216075

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
53  21.238355
54  21.238355
55  21.238355
56  21.238355
57  21.238355

[3267 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76       9  22:21:00       Pogodna    2348          02  173  52.216075
77      10  22:36:00       Pogodna    2348          02  173  52.216075
78     011  22:51:00       Pogodna    2348          02  173  52.216075
79       2  23:06:00       Pogodna    2348          02  173  52.216075
80       5  23:36:00       Pogodna    2348          02  173  52.216075

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.238355
77  21.238355
78  21.238355
79  21.238355
80  21.238355

[3348 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       1  21:50:00       Pogodna    2348          02  198  52.216075
76       3  22:20:00       Pogodna    2348          02  198  52.216075
77       1  22:50:00       Pogodna    2348          02  198  52.216075
78       3  23:20:00       Pogodna    2348          02  198  52.216075
79       1  23:50:00       Pogodna    2348          02  198  52.216075

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.238355
76  21.238355
77  21.238355
78  21.238355
79  21.238355

[3428 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       65  15:42:00       Pogodna    2348          02  411  52.216075
8       67  16:12:00       Pogodna    2348          02  411  52.216075
9       61  16:42:00       Pogodna    2348          02  411  52.216075
10     070  17:12:00       Pogodna    2348          02  411  52.216075
11      65  17:42:00       Pogodna    2348          02  411  52.216075

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   21.238355
8   21.238355
9   21.238355
10  21.238355
11  21.238355

[3440 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75      66  22:12:00       Pogodna    2348          02  502  52.216075
76      68  22:27:00       Pogodna    2348          02  502  52.216075
77      61  22:42:00       Pogodna    2348          02  502  52.216075
78       3  23:12:00       Pogodna    2348          02  502  52.216075
79      66  23:49:00       Pogodna    2348          02  502  52.216075

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.238355
76  21.238355
77  21.238355
78  21.238355
79  21.238355

[3520 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
0        1  24:06:00       Pogodna    2348          02  N21  52.216075
1        2  25:05:00       Pogodna    2348          02  N21  52.216075
2        1  26:04:00       Pogodna    2348          02  N21  52.216075
3        2  27:04:00       Pogodna    2348          02  N21  52.216075
4        1  28:04:00       Pogodna    2348          02  N21  52.216075

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
0   21.238355
1   21.238355
2   21.238355
3   21.238355
4   21.238355

[3525 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
54       3  21:34:00    Rumiankowa    2349          01  147  52.216728
55       4  22:04:00    Rumiankowa    2349          01  147  52.216728
56       5  22:34:00    Rumiankowa    2349          01  147  52.216728
57       1  23:04:00    Rumiankowa    2349          01  147  52.216728
58       3  23:34:00    Rumiankowa    2349          01  147  52.216728

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
54  21.242118
55  21.242118
56  21.242118
57  21.242118
58  21.242118

[3584 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76      10  22:19:00    Rumiankowa    2349          01  173  52.216728
77     011  22:34:00    Rumiankowa    2349          01  173  52.216728
78       2  22:49:00    Rumiankowa    2349          01  173  52.216728
79       5  23:19:00    Rumiankowa    2349          01  173  52.216728
80     012  23:48:00    Rumiankowa    2349          01  173  52.216728

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.242118
77  21.242118
78  21.242118
79  21.242118
80  21.242118

[3665 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       3  21:32:00    Rumiankowa    2349          01  198  52.216728
76       1  22:02:00    Rumiankowa    2349          01  198  52.216728
77       3  22:32:00    Rumiankowa    2349          01  198  52.216728
78       1  23:02:00    Rumiankowa    2349          01  198  52.216728
79       3  23:32:00    Rumiankowa    2349          01  198  52.216728

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.242118
76  21.242118
77  21.242118
78  21.242118
79  21.242118

[3745 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       64  17:16:00    Rumiankowa    2349          01  411  52.216728
8       66  17:46:00    Rumiankowa    2349          01  411  52.216728
9       68  18:16:00    Rumiankowa    2349          01  411  52.216728
10      62  18:46:00    Rumiankowa    2349          01  411  52.216728
11      64  19:16:00    Rumiankowa    2349          01  411  52.216728

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   21.242118
8   21.242118
9   21.242118
10  21.242118
11  21.242118

[3757 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
72      68  22:11:00    Rumiankowa    2349          01  502  52.216728
73      61  22:26:00    Rumiankowa    2349          01  502  52.216728
74       3  22:41:00    Rumiankowa    2349          01  502  52.216728
75      64  23:08:00    Rumiankowa    2349          01  502  52.216728
76      66  23:38:00    Rumiankowa    2349          01  502  52.216728

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
72  21.242118
73  21.242118
74  21.242118
75  21.242118
76  21.242118

[3834 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
53       5  22:22:00    Rumiankowa    2349          02  147  52.217726
54       1  22:52:00    Rumiankowa    2349          02  147  52.217726
55       3  23:22:00    Rumiankowa    2349          02  147  52.217726
56       4  23:52:00    Rumiankowa    2349          02  147  52.217726
57       5  24:22:00    Rumiankowa    2349          02  147  52.217726

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
53  21.242986
54  21.242986
55  21.242986
56  21.242986
57  21.242986

[3892 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76       9  22:22:00    Rumiankowa    2349          02  173  52.217726
77      10  22:37:00    Rumiankowa    2349          02  173  52.217726
78     011  22:52:00    Rumiankowa    2349          02  173  52.217726
79       2  23:07:00    Rumiankowa    2349          02  173  52.217726
80       5  23:37:00    Rumiankowa    2349          02  173  52.217726

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.242986
77  21.242986
78  21.242986
79  21.242986
80  21.242986

[3973 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75       1  21:51:00    Rumiankowa    2349          02  198  52.217726
76       3  22:21:00    Rumiankowa    2349          02  198  52.217726
77       1  22:51:00    Rumiankowa    2349          02  198  52.217726
78       3  23:21:00    Rumiankowa    2349          02  198  52.217726
79       1  23:51:00    Rumiankowa    2349          02  198  52.217726

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.242986
76  21.242986
77  21.242986
78  21.242986
79  21.242986

[4053 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
7       65  15:43:00    Rumiankowa    2349          02  411  52.217726
8       67  16:13:00    Rumiankowa    2349          02  411  52.217726
9       61  16:43:00    Rumiankowa    2349          02  411  52.217726
10     070  17:13:00    Rumiankowa    2349          02  411  52.217726
11      65  17:43:00    Rumiankowa    2349          02  411  52.217726

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
7   21.242986
8   21.242986
9   21.242986
10  21.242986
11  21.242986

[4065 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
75      66  22:13:00    Rumiankowa    2349          02  502  52.217726
76      68  22:28:00    Rumiankowa    2349          02  502  52.217726
77      61  22:43:00    Rumiankowa    2349          02  502  52.217726
78       3  23:13:00    Rumiankowa    2349          02  502  52.217726
79      66  23:50:00    Rumiankowa    2349          02  502  52.217726

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
75  21.242986
76  21.242986
77  21.242986
78  21.242986
79  21.242986

[4145 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
0        1  24:07:00    Rumiankowa    2349          02  N21  52.217726
1        2  25:06:00    Rumiankowa    2349          02  N21  52.217726
2        1  26:05:00    Rumiankowa    2349          02  N21  52.217726
3        2  27:05:00    Rumiankowa    2349          02  N21  52.217726
4        1  28:05:00    Rumiankowa    2349          02  N21  52.217726

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
0   21.242986
1   21.242986
2   21.242986
3   21.242986
4   21.242986

[4150 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
4        1  28:05:00    Rumiankowa    2349          02  N21  52.217726
0      215  25:06:00  PKP Michalin    2351          01  N72  52.148245
1      214  26:05:00  PKP Michalin    2351          01  N72  52.148245
2      219  27:05:00  PKP Michalin    2351          01  N72  52.148245
3      215  28:05:00  PKP Michalin    2351          01  N72  52.148245

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
4   21.242986
0   21.223999
1   21.223999
2   21.223999
3   21.223999

[4154 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
3      215  28:05:00  PKP Michalin    2351          01  N72  52.148245
0      219  25:14:00  PKP Michalin    2351          02  N72  52.149449
1      215  26:14:00  PKP Michalin    2351          02  N72  52.149449
2      214  27:14:00  PKP Michalin    2351          02  N72  52.149449
3      219  28:14:00  PKP Michalin    2351          02  N72  52.149449

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.223999
0   21.222964
1   21.222964
2   21.222964
3   21.222964

[4158 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
3      219  28:14:00  PKP Michalin    2351          02  N72  52.149449
0      215  25:07:00         Cicha    2352          01  N72  52.141448
1      214  26:06:00         Cicha    2352          01  N72  52.141448
2      219  27:06:00         Cicha    2352          01  N72  52.141448
3      215  28:06:00         Cicha    2352          01  N72  52.141448

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.222964
0   21.230857
1   21.230857
2   21.230857
3   21.230857

[4162 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
3      215  28:06:00         Cicha    2352          01  N72  52.141448
0      219  25:12:00         Cicha    2352          02  N72  52.142622
1      215  26:12:00         Cicha    2352          02  N72  52.142622
2      214  27:12:00         Cicha    2352          02  N72  52.142622
3      219  28:12:00         Cicha    2352          02  N72  52.142622

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.230857
0   21.229873
1   21.229873
2   21.229873
3   21.229873

[4166 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
3      219  28:12:00         Cicha    2352          02  N72  52.142622
0      215  25:08:00   PKP Józefów    2353          01  N72  52.137042
1      214  26:07:00   PKP Józefów    2353          01  N72  52.137042
2      219  27:07:00   PKP Józefów    2353          01  N72  52.137042
3      215  28:07:00   PKP Józefów    2353          01  N72  52.137042

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.229873
0   21.235180
1   21.235180
2   21.235180
3   21.235180

[4170 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
3      215  28:07:00   PKP Józefów    2353          01  N72  52.137042
0      219  25:11:00   PKP Józefów    2353          02  N72  52.137859
1      215  26:11:00   PKP Józefów    2353          02  N72  52.137859
2      214  27:11:00   PKP Józefów    2353          02  N72  52.137859
3      219  28:11:00   PKP Józefów    2353          02  N72  52.137859

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.235180
0   21.234539
1   21.234539
2   21.234539
3   21.234539

[4174 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
16       2  17:15:00   PKP Józefów    2353          03  L50  52.136611
17      03  17:55:00   PKP Józefów    2353          03  L50  52.136611
18       1  18:55:00   PKP Józefów    2353          03  L50  52.136611
19       1  20:20:00   PKP Józefów    2353          03  L50  52.136611
20       1  22:25:00   PKP Józefów    2353          03  L50  52.136611

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
16  21.234386
17  21.234386
18  21.234386
19  21.234386
20  21.234386

[4195 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
5        1  14:44:00   PKP Józefów    2353          83  L50  52.136611
6       03  15:46:00   PKP Józefów    2353          83  L50  52.136611
7        1  16:14:00   PKP Józefów    2353          83  L50  52.136611
8       03  17:16:00   PKP Józefów    2353          83  L50  52.136611
9        1  18:11:00   PKP Józefów    2353          83  L50  52.136611

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
5   21.234386
6   21.234386
7   21.234386
8   21.234386
9   21.234386

[4205 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
16       2  17:17:00   Jarosławska    2354          01  L50  52.128268
17      03  17:57:00   Jarosławska    2354          01  L50  52.128268
18       1  18:57:00   Jarosławska    2354          01  L50  52.128268
19       1  20:22:00   Jarosławska    2354          01  L50  52.128268
20       1  22:27:00   Jarosławska    2354          01  L50  52.128268

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
16  21.240180
17  21.240180
18  21.240180
19  21.240180
20  21.240180

[4226 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
20       1  22:27:00   Jarosławska    2354          01  L50  52.128268
0      215  25:10:00   Jarosławska    2354          01  N72  52.128268
1      214  26:09:00   Jarosławska    2354          01  N72  52.128268
2      219  27:09:00   Jarosławska    2354          01  N72  52.128268
3      215  28:09:00   Jarosławska    2354          01  N72  52.128268

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
20  21.240180
0   21.240180
1   21.240180
2   21.240180
3   21.240180

[4230 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
16       2  16:44:00   Jarosławska    2354          02  L50  52.130260
17      03  17:14:00   Jarosławska    2354          02  L50  52.130260
18       1  18:09:00   Jarosławska    2354          02  L50  52.130260
19       1  20:00:00   Jarosławska    2354          02  L50  52.130260
20       1  22:00:00   Jarosławska    2354          02  L50  52.130260

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
16  21.240090
17  21.240090
18  21.240090
19  21.240090
20  21.240090

[4251 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
20       1  22:00:00   Jarosławska    2354          02  L50  52.130260
0      219  25:09:00   Jarosławska    2354          02  N72  52.130260
1      215  26:09:00   Jarosławska    2354          02  N72  52.130260
2      214  27:09:00   Jarosławska    2354          02  N72  52.130260
3      219  28:09:00   Jarosławska    2354          02  N72  52.130260

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
20  21.240090
0   21.240090
1   21.240090
2   21.240090
3   21.240090

[4255 rows x 8 columns]
   brygada      czas       stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00    Płochocińska    1017          01  186  52.307248
1        2  04:59:00    Płochocińska    1017          01  186  52.307248
2        3  05:09:00    Płochocińska    1017          01  186  52.307248
3        4  05:19:00    Płochocińska    1017          01  186  52.307248
4        5  05:29:00    Płochocińska    1017          01  186  52.307248
..     ...       ...             ...     ...         ...  ...        ...
3      219  28:09:00     Jarosławska    2354          02  N72  52.130260
0      215  25:12:00  Świder-Kościół    2355          01  N72  52.122377
1      214  26:11:00  Świder-Kościół    2355          01  N72  52.122377
2      219  27:11:00  Świder-Kościół    2355          01  N72  52.122377
3      215  28:11:00  Świder-Kościół    2355          01  N72  52.122377

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.240090
0   21.244476
1   21.244476
2   21.244476
3   21.244476

[4259 rows x 8 columns]
   brygada      czas       stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00    Płochocińska    1017          01  186  52.307248
1        2  04:59:00    Płochocińska    1017          01  186  52.307248
2        3  05:09:00    Płochocińska    1017          01  186  52.307248
3        4  05:19:00    Płochocińska    1017          01  186  52.307248
4        5  05:29:00    Płochocińska    1017          01  186  52.307248
..     ...       ...             ...     ...         ...  ...        ...
3      215  28:11:00  Świder-Kościół    2355          01  N72  52.122377
0      219  25:08:00  Świder-Kościół    2355          02  N72  52.123162
1      215  26:08:00  Świder-Kościół    2355          02  N72  52.123162
2      214  27:08:00  Świder-Kościół    2355          02  N72  52.123162
3      219  28:08:00  Świder-Kościół    2355          02  N72  52.123162

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.244476
0   21.243938
1   21.243938
2   21.243938
3   21.243938

[4263 rows x 8 columns]
   brygada      czas       stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00    Płochocińska    1017          01  186  52.307248
1        2  04:59:00    Płochocińska    1017          01  186  52.307248
2        3  05:09:00    Płochocińska    1017          01  186  52.307248
3        4  05:19:00    Płochocińska    1017          01  186  52.307248
4        5  05:29:00    Płochocińska    1017          01  186  52.307248
..     ...       ...             ...     ...         ...  ...        ...
3      219  28:08:00  Świder-Kościół    2355          02  N72  52.123162
0      215  25:13:00          Świder    2356          01  N72  52.119203
1      214  26:12:00          Świder    2356          01  N72  52.119203
2      219  27:12:00          Świder    2356          01  N72  52.119203
3      215  28:12:00          Świder    2356          01  N72  52.119203

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.243938
0   21.247622
1   21.247622
2   21.247622
3   21.247622

[4267 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
3      215  28:12:00        Świder    2356          01  N72  52.119203
0      219  25:07:00        Świder    2356          02  N72  52.119306
1      215  26:07:00        Świder    2356          02  N72  52.119306
2      214  27:07:00        Świder    2356          02  N72  52.119306
3      219  28:07:00        Świder    2356          02  N72  52.119306

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.247622
0   21.247698
1   21.247698
2   21.247698
3   21.247698

[4271 rows x 8 columns]
   brygada      czas      stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00   Płochocińska    1017          01  186  52.307248
1        2  04:59:00   Płochocińska    1017          01  186  52.307248
2        3  05:09:00   Płochocińska    1017          01  186  52.307248
3        4  05:19:00   Płochocińska    1017          01  186  52.307248
4        5  05:29:00   Płochocińska    1017          01  186  52.307248
..     ...       ...            ...     ...         ...  ...        ...
3      219  28:07:00         Świder    2356          02  N72  52.119306
0      215  25:15:00  Rzemieślnicza    2357          01  N72  52.111082
1      214  26:14:00  Rzemieślnicza    2357          01  N72  52.111082
2      219  27:14:00  Rzemieślnicza    2357          01  N72  52.111082
3      215  28:14:00  Rzemieślnicza    2357          01  N72  52.111082

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.247698
0   21.255799
1   21.255799
2   21.255799
3   21.255799

[4275 rows x 8 columns]
   brygada      czas      stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00   Płochocińska    1017          01  186  52.307248
1        2  04:59:00   Płochocińska    1017          01  186  52.307248
2        3  05:09:00   Płochocińska    1017          01  186  52.307248
3        4  05:19:00   Płochocińska    1017          01  186  52.307248
4        5  05:29:00   Płochocińska    1017          01  186  52.307248
..     ...       ...            ...     ...         ...  ...        ...
3      215  28:14:00  Rzemieślnicza    2357          01  N72  52.111082
0      219  25:05:00  Rzemieślnicza    2357          02  N72  52.110575
1      215  26:05:00  Rzemieślnicza    2357          02  N72  52.110575
2      214  27:05:00  Rzemieślnicza    2357          02  N72  52.110575
3      219  28:05:00  Rzemieślnicza    2357          02  N72  52.110575

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
3   21.255799
0   21.256476
1   21.256476
2   21.256476
3   21.256476

[4279 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
16       1  17:30:00          Orla    2358          01  L20  52.108368
17       2  18:32:00          Orla    2358          01  L20  52.108368
18       1  19:32:00          Orla    2358          01  L20  52.108368
19       1  21:32:00          Orla    2358          01  L20  52.108368
20       1  23:25:00          Orla    2358          01  L20  52.108368

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
16  21.262060
17  21.262060
18  21.262060
19  21.262060
20  21.262060

[4300 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
19       1  21:32:00          Orla    2358          01  L20  52.108368
20       1  23:25:00          Orla    2358          01  L20  52.108368
0      215  25:16:00          Orla    2358          01  N72  52.108368
1      214  26:15:00          Orla    2358          01  N72  52.108368
2      219  27:15:00          Orla    2358          01  N72  52.108368

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
19  21.262060
20  21.262060
0   21.262060
1   21.262060
2   21.262060

[4303 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
12       1  18:34:00          Orla    2358          02  702  52.108031
13      03  19:34:00          Orla    2358          02  702  52.108031
14       2  20:04:00          Orla    2358          02  702  52.108031
15       1  20:55:00          Orla    2358          02  702  52.108031
16      03  22:25:00          Orla    2358          02  702  52.108031

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
12  21.262911
13  21.262911
14  21.262911
15  21.262911
16  21.262911

[4320 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
16       1  16:52:00          Orla    2358          02  L20  52.108031
17       2  17:52:00          Orla    2358          02  L20  52.108031
18       1  18:52:00          Orla    2358          02  L20  52.108031
19       1  21:03:00          Orla    2358          02  L20  52.108031
20       1  22:51:00          Orla    2358          02  L20  52.108031

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
16  21.262911
17  21.262911
18  21.262911
19  21.262911
20  21.262911

[4341 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
20       1  18:05:00          Orla    2358          02  L22  52.108031
21       2  19:05:00          Orla    2358          02  L22  52.108031
22       2  20:20:00          Orla    2358          02  L22  52.108031
23       2  21:40:00          Orla    2358          02  L22  52.108031
24       2  23:25:00          Orla    2358          02  L22  52.108031

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
20  21.262911
21  21.262911
22  21.262911
23  21.262911
24  21.262911

[4366 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
25      02  20:03:00          Orla    2358          02  L51  52.108031
26       1  21:12:00          Orla    2358          02  L51  52.108031
27       1  22:03:00          Orla    2358          02  L51  52.108031
28       1  23:03:00          Orla    2358          02  L51  52.108031
29       1  24:30:00          Orla    2358          02  L51  52.108031

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
25  21.262911
26  21.262911
27  21.262911
28  21.262911
29  21.262911

[4396 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
29       1  24:30:00          Orla    2358          02  L51  52.108031
0      219  25:04:00          Orla    2358          02  N72  52.108031
1      215  26:04:00          Orla    2358          02  N72  52.108031
2      214  27:04:00          Orla    2358          02  N72  52.108031
3      219  28:04:00          Orla    2358          02  N72  52.108031

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
29  21.262911
0   21.262911
1   21.262911
2   21.262911
3   21.262911

[4400 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
56       5  21:17:00        Gdecka    2362          01  123  52.240900
57       6  21:37:00        Gdecka    2362          01  123  52.240900
58       1  22:02:00        Gdecka    2362          01  123  52.240900
59       3  22:32:00        Gdecka    2362          01  123  52.240900
60       4  23:02:00        Gdecka    2362          01  123  52.240900

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
56  21.101160
57  21.101160
58  21.101160
59  21.101160
60  21.101160

[4461 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
56       4  21:13:00        Gdecka    2362          01  135  52.240900
57       5  21:35:00        Gdecka    2362          01  135  52.240900
58       2  22:05:00        Gdecka    2362          01  135  52.240900
59       3  22:35:00        Gdecka    2362          01  135  52.240900
60       4  23:05:00        Gdecka    2362          01  135  52.240900

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
56  21.101160
57  21.101160
58  21.101160
59  21.101160
60  21.101160

[4522 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76       1  22:09:00        Gdecka    2362          01  141  52.240900
77       2  22:29:00        Gdecka    2362          01  141  52.240900
78       4  22:49:00        Gdecka    2362          01  141  52.240900
79       8  23:14:00        Gdecka    2362          01  141  52.240900
80       9  23:44:00        Gdecka    2362          01  141  52.240900

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.101160
77  21.101160
78  21.101160
79  21.101160
80  21.101160

[4603 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
56       1  21:06:00        Gdecka    2362          01  148  52.240900
57       2  21:26:00        Gdecka    2362          01  148  52.240900
58       3  21:52:00        Gdecka    2362          01  148  52.240900
59       5  22:22:00        Gdecka    2362          01  148  52.240900
60       6  22:52:00        Gdecka    2362          01  148  52.240900

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
56  21.101160
57  21.101160
58  21.101160
59  21.101160
60  21.101160

[4664 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
8        2  27:03:00        Gdecka    2362          01  N03  52.240900
9        3  27:34:00        Gdecka    2362          01  N03  52.240900
10       4  28:03:00        Gdecka    2362          01  N03  52.240900
11       5  28:33:00        Gdecka    2362          01  N03  52.240900
12       6  29:03:00        Gdecka    2362          01  N03  52.240900

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
8   21.101160
9   21.101160
10  21.101160
11  21.101160
12  21.101160

[4677 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
54       2  21:29:00        Gdecka    2362          02  123  52.241017
55       3  21:54:00        Gdecka    2362          02  123  52.241017
56       4  22:24:00        Gdecka    2362          02  123  52.241017
57       5  22:54:00        Gdecka    2362          02  123  52.241017
58       1  23:24:00        Gdecka    2362          02  123  52.241017

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
54  21.101323
55  21.101323
56  21.101323
57  21.101323
58  21.101323

[4736 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
56       2  21:51:00        Gdecka    2362          02  135  52.241017
57       3  22:14:00        Gdecka    2362          02  135  52.241017
58       4  22:44:00        Gdecka    2362          02  135  52.241017
59       5  23:14:00        Gdecka    2362          02  135  52.241017
60       2  23:44:00        Gdecka    2362          02  135  52.241017

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
56  21.101323
57  21.101323
58  21.101323
59  21.101323
60  21.101323

[4797 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
76       8  21:38:00        Gdecka    2362          02  141  52.241017
77       9  21:58:00        Gdecka    2362          02  141  52.241017
78      10  22:18:00        Gdecka    2362          02  141  52.241017
79       1  22:38:00        Gdecka    2362          02  141  52.241017
80       4  23:08:00        Gdecka    2362          02  141  52.241017

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
76  21.101323
77  21.101323
78  21.101323
79  21.101323
80  21.101323

[4878 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
56       6  22:09:00        Gdecka    2362          02  148  52.241017
57       7  22:39:00        Gdecka    2362          02  148  52.241017
58       9  23:09:00        Gdecka    2362          02  148  52.241017
59       2  23:39:00        Gdecka    2362          02  148  52.241017
60       3  24:09:00        Gdecka    2362          02  148  52.241017

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
56  21.101323
57  21.101323
58  21.101323
59  21.101323
60  21.101323

[4939 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
6        5  26:47:00        Gdecka    2362          02  N03  52.241017
7        6  27:17:00        Gdecka    2362          02  N03  52.241017
8        1  27:47:00        Gdecka    2362          02  N03  52.241017
9        2  28:18:00        Gdecka    2362          02  N03  52.241017
10       3  28:48:00        Gdecka    2362          02  N03  52.241017

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
6   21.101323
7   21.101323
8   21.101323
9   21.101323
10  21.101323

[4950 rows x 8 columns]
   brygada      czas      stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00   Płochocińska    1017          01  186  52.307248
1        2  04:59:00   Płochocińska    1017          01  186  52.307248
2        3  05:09:00   Płochocińska    1017          01  186  52.307248
3        4  05:19:00   Płochocińska    1017          01  186  52.307248
4        5  05:29:00   Płochocińska    1017          01  186  52.307248
..     ...       ...            ...     ...         ...  ...        ...
10       3  28:48:00         Gdecka    2362          02  N03  52.241017
0       01  07:58:00  os.Dudziarska    2364          01  225  52.257100
1       03  08:58:00  os.Dudziarska    2364          01  225  52.257100
2       04  14:16:00  os.Dudziarska    2364          01  225  52.257100
3       02  15:16:00  os.Dudziarska    2364          01  225  52.257100

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
10  21.101323
0   21.104294
1   21.104294
2   21.104294
3   21.104294

[4954 rows x 8 columns]
   brygada      czas               stop_name stop_id bus_stop_nr line  \
0        1  04:48:00            Płochocińska    1017          01  186
1        2  04:59:00            Płochocińska    1017          01  186
2        3  05:09:00            Płochocińska    1017          01  186
3        4  05:19:00            Płochocińska    1017          01  186
4        5  05:29:00            Płochocińska    1017          01  186
..     ...       ...                     ...     ...         ...  ...
3       02  15:16:00           os.Dudziarska    2364          01  225
0       01  08:02:00  Areszt Śledczy Grochów    2365          01  225
1       03  09:02:00  Areszt Śledczy Grochów    2365          01  225
2       04  14:20:00  Areszt Śledczy Grochów    2365          01  225
3       02  15:20:00  Areszt Śledczy Grochów    2365          01  225

          Lat        Lon
0   52.307248  20.983925
1   52.307248  20.983925
2   52.307248  20.983925
3   52.307248  20.983925
4   52.307248  20.983925
..        ...        ...
3   52.257100  21.104294
0   52.255850  21.114060
1   52.255850  21.114060
2   52.255850  21.114060
3   52.255850  21.114060

[4958 rows x 8 columns]
   brygada      czas               stop_name stop_id bus_stop_nr line  \
0        1  04:48:00            Płochocińska    1017          01  186
1        2  04:59:00            Płochocińska    1017          01  186
2        3  05:09:00            Płochocińska    1017          01  186
3        4  05:19:00            Płochocińska    1017          01  186
4        5  05:29:00            Płochocińska    1017          01  186
..     ...       ...                     ...     ...         ...  ...
3       02  15:20:00  Areszt Śledczy Grochów    2365          01  225
0       01  07:54:00  Areszt Śledczy Grochów    2365          02  225
1       03  08:54:00  Areszt Śledczy Grochów    2365          02  225
2       04  14:12:00  Areszt Śledczy Grochów    2365          02  225
3       02  15:12:00  Areszt Śledczy Grochów    2365          02  225

          Lat        Lon
0   52.307248  20.983925
1   52.307248  20.983925
2   52.307248  20.983925
3   52.307248  20.983925
4   52.307248  20.983925
..        ...        ...
3   52.255850  21.114060
0   52.255580  21.113750
1   52.255580  21.113750
2   52.255580  21.113750
3   52.255580  21.113750

[4962 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
5       61  11:35:00      Sportowa    2367          01  722  52.167309
6       61  14:35:00      Sportowa    2367          01  722  52.167309
7       61  17:35:00      Sportowa    2367          01  722  52.167309
8       01  19:05:00      Sportowa    2367          01  722  52.167309
9       61  20:55:00      Sportowa    2367          01  722  52.167309

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
5   21.295276
6   21.295276
7   21.295276
8   21.295276
9   21.295276

[4972 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
20       1  18:30:00      Sportowa    2367          01  L22  52.167309
21       2  19:29:00      Sportowa    2367          01  L22  52.167309
22       2  20:44:00      Sportowa    2367          01  L22  52.167309
23       2  22:04:00      Sportowa    2367          01  L22  52.167309
24       2  23:49:00      Sportowa    2367          01  L22  52.167309

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
20  21.295276
21  21.295276
22  21.295276
23  21.295276
24  21.295276

[4997 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
16       2  17:28:00      Sportowa    2367          01  L50  52.167309
17      03  18:08:00      Sportowa    2367          01  L50  52.167309
18       1  19:08:00      Sportowa    2367          01  L50  52.167309
19       1  20:32:00      Sportowa    2367          01  L50  52.167309
20       1  22:37:00      Sportowa    2367          01  L50  52.167309

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
16  21.295276
17  21.295276
18  21.295276
19  21.295276
20  21.295276

[5018 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
5       61  10:59:00      Sportowa    2367          02  722  52.166883
6       61  13:19:00      Sportowa    2367          02  722  52.166883
7       61  16:20:00      Sportowa    2367          02  722  52.166883
8       01  17:50:00      Sportowa    2367          02  722  52.166883
9       61  19:19:00      Sportowa    2367          02  722  52.166883

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
5   21.295626
6   21.295626
7   21.295626
8   21.295626
9   21.295626

[5028 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
19       1  17:23:00      Sportowa    2367          02  L22  52.166883
20       2  18:27:00      Sportowa    2367          02  L22  52.166883
21       2  19:47:00      Sportowa    2367          02  L22  52.166883
22       2  21:12:00      Sportowa    2367          02  L22  52.166883
23       2  22:52:00      Sportowa    2367          02  L22  52.166883

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
19  21.295626
20  21.295626
21  21.295626
22  21.295626
23  21.295626

[5052 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
16       2  16:33:00      Sportowa    2367          02  L50  52.166883
17      03  17:03:00      Sportowa    2367          02  L50  52.166883
18       1  17:58:00      Sportowa    2367          02  L50  52.166883
19       1  19:49:00      Sportowa    2367          02  L50  52.166883
20       1  21:49:00      Sportowa    2367          02  L50  52.166883

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
16  21.295626
17  21.295626
18  21.295626
19  21.295626
20  21.295626

[5073 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
5       61  11:33:00        Gródek    2368          01  722  52.161015
6       61  14:33:00        Gródek    2368          01  722  52.161015
7       61  17:33:00        Gródek    2368          01  722  52.161015
8       01  19:03:00        Gródek    2368          01  722  52.161015
9       61  20:53:00        Gródek    2368          01  722  52.161015

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
5   21.304232
6   21.304232
7   21.304232
8   21.304232
9   21.304232

[5083 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
20       1  18:28:00        Gródek    2368          01  L22  52.161015
21       2  19:27:00        Gródek    2368          01  L22  52.161015
22       2  20:42:00        Gródek    2368          01  L22  52.161015
23       2  22:02:00        Gródek    2368          01  L22  52.161015
24       2  23:47:00        Gródek    2368          01  L22  52.161015

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
20  21.304232
21  21.304232
22  21.304232
23  21.304232
24  21.304232

[5108 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
5       61  11:01:00        Gródek    2368          02  722  52.160216
6       61  13:21:00        Gródek    2368          02  722  52.160216
7       61  16:22:00        Gródek    2368          02  722  52.160216
8       01  17:52:00        Gródek    2368          02  722  52.160216
9       61  19:21:00        Gródek    2368          02  722  52.160216

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
5   21.305217
6   21.305217
7   21.305217
8   21.305217
9   21.305217

[5118 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
19       1  17:25:00        Gródek    2368          02  L22  52.160216
20       2  18:29:00        Gródek    2368          02  L22  52.160216
21       2  19:49:00        Gródek    2368          02  L22  52.160216
22       2  21:14:00        Gródek    2368          02  L22  52.160216
23       2  22:54:00        Gródek    2368          02  L22  52.160216

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
19  21.305217
20  21.305217
21  21.305217
22  21.305217
23  21.305217

[5142 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
5       61  11:31:00      Radiówek    2369          01  722  52.153370
6       61  14:31:00      Radiówek    2369          01  722  52.153370
7       61  17:31:00      Radiówek    2369          01  722  52.153370
8       01  19:01:00      Radiówek    2369          01  722  52.153370
9       61  20:51:00      Radiówek    2369          01  722  52.153370

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
5   21.315750
6   21.315750
7   21.315750
8   21.315750
9   21.315750

[5152 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
20       1  18:26:00      Radiówek    2369          01  L22  52.153370
21       2  19:25:00      Radiówek    2369          01  L22  52.153370
22       2  20:40:00      Radiówek    2369          01  L22  52.153370
23       2  22:00:00      Radiówek    2369          01  L22  52.153370
24       2  23:45:00      Radiówek    2369          01  L22  52.153370

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
20  21.315750
21  21.315750
22  21.315750
23  21.315750
24  21.315750

[5177 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
5       61  11:03:00      Radiówek    2369          02  722  52.153210
6       61  13:23:00      Radiówek    2369          02  722  52.153210
7       61  16:24:00      Radiówek    2369          02  722  52.153210
8       01  17:54:00      Radiówek    2369          02  722  52.153210
9       61  19:23:00      Radiówek    2369          02  722  52.153210

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
5   21.316944
6   21.316944
7   21.316944
8   21.316944
9   21.316944

[5187 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
19       1  17:27:00      Radiówek    2369          02  L22  52.153210
20       2  18:31:00      Radiówek    2369          02  L22  52.153210
21       2  19:51:00      Radiówek    2369          02  L22  52.153210
22       2  21:16:00      Radiówek    2369          02  L22  52.153210
23       2  22:56:00      Radiówek    2369          02  L22  52.153210

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
19  21.316944
20  21.316944
21  21.316944
22  21.316944
23  21.316944

[5211 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
38       2  21:12:00        Gruszy    2371          01  213  52.198202
39       3  21:41:00        Gruszy    2371          01  213  52.198202
40       4  22:11:00        Gruszy    2371          01  213  52.198202
41       5  22:41:00        Gruszy    2371          01  213  52.198202
42       2  23:11:00        Gruszy    2371          01  213  52.198202

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
38  21.169198
39  21.169198
40  21.169198
41  21.169198
42  21.169198

[5254 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
40       5  21:19:00        Gruszy    2371          02  213  52.198978
41       1  21:48:00        Gruszy    2371          02  213  52.198978
42       2  22:19:00        Gruszy    2371          02  213  52.198978
43       3  22:47:00        Gruszy    2371          02  213  52.198978
44       4  23:17:00        Gruszy    2371          02  213  52.198978

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
40  21.168815
41  21.168815
42  21.168815
43  21.168815
44  21.168815

[5299 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
38       2  21:13:00       Juhasów    2372          01  213  52.194909
39       3  21:42:00       Juhasów    2372          01  213  52.194909
40       4  22:12:00       Juhasów    2372          01  213  52.194909
41       5  22:42:00       Juhasów    2372          01  213  52.194909
42       2  23:12:00       Juhasów    2372          01  213  52.194909

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
38  21.170523
39  21.170523
40  21.170523
41  21.170523
42  21.170523

[5342 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
32       4  20:49:00       Juhasów    2372          01  Z42  52.194909
33       1  21:19:00       Juhasów    2372          01  Z42  52.194909
34       2  21:49:00       Juhasów    2372          01  Z42  52.194909
35       3  22:19:00       Juhasów    2372          01  Z42  52.194909
36       1  22:49:00       Juhasów    2372          01  Z42  52.194909

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
32  21.170523
33  21.170523
34  21.170523
35  21.170523
36  21.170523

[5379 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
40       5  21:18:00       Juhasów    2372          02  213  52.195837
41       1  21:47:00       Juhasów    2372          02  213  52.195837
42       2  22:18:00       Juhasów    2372          02  213  52.195837
43       3  22:46:00       Juhasów    2372          02  213  52.195837
44       4  23:16:00       Juhasów    2372          02  213  52.195837

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
40  21.170485
41  21.170485
42  21.170485
43  21.170485
44  21.170485

[5424 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
32       4  21:28:00       Juhasów    2372          03  Z42  52.194970
33       1  21:58:00       Juhasów    2372          03  Z42  52.194970
34       2  22:28:00       Juhasów    2372          03  Z42  52.194970
35       3  22:48:00       Juhasów    2372          03  Z42  52.194970
36       1  23:08:00       Juhasów    2372          03  Z42  52.194970

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
32  21.167307
33  21.167307
34  21.167307
35  21.167307
36  21.167307

[5461 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
38       2  21:14:00   Klimatyczna    2373          01  213  52.188466
39       3  21:43:00   Klimatyczna    2373          01  213  52.188466
40       4  22:13:00   Klimatyczna    2373          01  213  52.188466
41       5  22:43:00   Klimatyczna    2373          01  213  52.188466
42       2  23:13:00   Klimatyczna    2373          01  213  52.188466

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
38  21.172576
39  21.172576
40  21.172576
41  21.172576
42  21.172576

[5504 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
32       4  20:50:00   Klimatyczna    2373          01  Z42  52.188466
33       1  21:20:00   Klimatyczna    2373          01  Z42  52.188466
34       2  21:50:00   Klimatyczna    2373          01  Z42  52.188466
35       3  22:20:00   Klimatyczna    2373          01  Z42  52.188466
36       1  22:50:00   Klimatyczna    2373          01  Z42  52.188466

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
32  21.172576
33  21.172576
34  21.172576
35  21.172576
36  21.172576

[5541 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
40       5  21:17:00   Klimatyczna    2373          02  213  52.189269
41       1  21:46:00   Klimatyczna    2373          02  213  52.189269
42       2  22:17:00   Klimatyczna    2373          02  213  52.189269
43       3  22:45:00   Klimatyczna    2373          02  213  52.189269
44       4  23:15:00   Klimatyczna    2373          02  213  52.189269

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
40  21.171889
41  21.171889
42  21.171889
43  21.171889
44  21.171889

[5586 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
32       4  21:26:00   Klimatyczna    2373          02  Z42  52.189269
33       1  21:56:00   Klimatyczna    2373          02  Z42  52.189269
34       2  22:26:00   Klimatyczna    2373          02  Z42  52.189269
35       3  22:46:00   Klimatyczna    2373          02  Z42  52.189269
36       1  23:06:00   Klimatyczna    2373          02  Z42  52.189269

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
32  21.171889
33  21.171889
34  21.171889
35  21.171889
36  21.171889

[5623 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
40       5  21:07:00    Drohobycka    2374          01  213  52.180918
41       1  21:36:00    Drohobycka    2374          01  213  52.180918
42       2  22:07:00    Drohobycka    2374          01  213  52.180918
43       3  22:35:00    Drohobycka    2374          01  213  52.180918
44       4  23:05:00    Drohobycka    2374          01  213  52.180918

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
40  21.230699
41  21.230699
42  21.230699
43  21.230699
44  21.230699

[5668 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
38       2  21:24:00    Drohobycka    2374          02  213  52.180436
39       3  21:53:00    Drohobycka    2374          02  213  52.180436
40       4  22:22:00    Drohobycka    2374          02  213  52.180436
41       5  22:52:00    Drohobycka    2374          02  213  52.180436
42       2  23:22:00    Drohobycka    2374          02  213  52.180436

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
38  21.231316
39  21.231316
40  21.231316
41  21.231316
42  21.231316

[5711 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
38       2  21:25:00      Jachtowa    2375          01  213  52.178650
39       3  21:54:00      Jachtowa    2375          01  213  52.178650
40       4  22:23:00      Jachtowa    2375          01  213  52.178650
41       5  22:53:00      Jachtowa    2375          01  213  52.178650
42       2  23:23:00      Jachtowa    2375          01  213  52.178650

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
38  21.233886
39  21.233886
40  21.233886
41  21.233886
42  21.233886

[5754 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
40       5  21:06:00      Jachtowa    2375          02  213  52.178708
41       1  21:35:00      Jachtowa    2375          02  213  52.178708
42       2  22:06:00      Jachtowa    2375          02  213  52.178708
43       3  22:34:00      Jachtowa    2375          02  213  52.178708
44       4  23:04:00      Jachtowa    2375          02  213  52.178708

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
40  21.233888
41  21.233888
42  21.233888
43  21.233888
44  21.233888

[5799 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
38       2  21:26:00   Zagórzańska    2376          01  213  52.175322
39       3  21:55:00   Zagórzańska    2376          01  213  52.175322
40       4  22:24:00   Zagórzańska    2376          01  213  52.175322
41       5  22:54:00   Zagórzańska    2376          01  213  52.175322
42       2  23:24:00   Zagórzańska    2376          01  213  52.175322

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
38  21.231335
39  21.231335
40  21.231335
41  21.231335
42  21.231335

[5842 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
40       5  21:05:00   Zagórzańska    2376          02  213  52.176359
41       1  21:34:00   Zagórzańska    2376          02  213  52.176359
42       2  22:05:00   Zagórzańska    2376          02  213  52.176359
43       3  22:33:00   Zagórzańska    2376          02  213  52.176359
44       4  23:03:00   Zagórzańska    2376          02  213  52.176359

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
40  21.232688
41  21.232688
42  21.232688
43  21.232688
44  21.232688

[5887 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
38       2  21:26:00   Samorządowa    2377          01  213  52.173661
39       3  21:55:00   Samorządowa    2377          01  213  52.173661
40       4  22:24:00   Samorządowa    2377          01  213  52.173661
41       5  22:54:00   Samorządowa    2377          01  213  52.173661
42       2  23:24:00   Samorządowa    2377          01  213  52.173661

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
38  21.229339
39  21.229339
40  21.229339
41  21.229339
42  21.229339

[5930 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
40       5  21:05:00   Samorządowa    2377          02  213  52.174340
41       1  21:34:00   Samorządowa    2377          02  213  52.174340
42       2  22:05:00   Samorządowa    2377          02  213  52.174340
43       3  22:33:00   Samorządowa    2377          02  213  52.174340
44       4  23:03:00   Samorządowa    2377          02  213  52.174340

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
40  21.230190
41  21.230190
42  21.230190
43  21.230190
44  21.230190

[5975 rows x 8 columns]
   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
79       2  22:48:00        Urocza    2378          01  183  52.242260
80       4  23:03:00        Urocza    2378          01  183  52.242260
81      07  23:18:00        Urocza    2378          01  183  52.242260
82       5  23:33:00        Urocza    2378          01  183  52.242260
83       2  24:03:00        Urocza    2378          01  183  52.242260

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
79  21.190621
80  21.190621
81  21.190621
82  21.190621
83  21.190621

[6059 rows x 8 columns]

   brygada      czas     stop_name stop_id bus_stop_nr line        Lat  \
0        1  04:48:00  Płochocińska    1017          01  186  52.307248
1        2  04:59:00  Płochocińska    1017          01  186  52.307248
2        3  05:09:00  Płochocińska    1017          01  186  52.307248
3        4  05:19:00  Płochocińska    1017          01  186  52.307248
4        5  05:29:00  Płochocińska    1017          01  186  52.307248
..     ...       ...           ...     ...         ...  ...        ...
79       2  23:04:00        Urocza    2378          02  183  52.242279
80       4  23:19:00        Urocza    2378          02  183  52.242279
81      07  23:34:00        Urocza    2378          02  183  52.242279
82       5  23:49:00        Urocza    2378          02  183  52.242279
83       2  24:09:00        Urocza    2378          02  183  52.242279

          Lon
0   20.983925
1   20.983925
2   20.983925
3   20.983925
4   20.983925
..        ...
79  21.190760
80  21.190760
81  21.190760
82  21.190760
83  21.190760

[6143 rows x 8 columns]
   brygada      czas               stop_name stop_id bus_stop_nr line  \
0        1  04:48:00            Płochocińska    1017          01  186
1        2  04:59:00            Płochocińska    1017          01  186
2        3  05:09:00            Płochocińska    1017          01  186
3        4  05:19:00            Płochocińska    1017          01  186
4        5  05:29:00            Płochocińska    1017          01  186
..     ...       ...                     ...     ...         ...  ...
72       4  22:32:00  Bolesława Krzywoustego    4142          02  194
73       1  22:57:00  Bolesława Krzywoustego    4142          02  194
74       2  23:27:00  Bolesława Krzywoustego    4142          02  194
75       4  23:57:00  Bolesława Krzywoustego    4142          02  194
76       2  24:27:00  Bolesława Krzywoustego    4142          02  194

          Lat        Lon
0   52.307248  20.983925
1   52.307248  20.983925
2   52.307248  20.983925
3   52.307248  20.983925
4   52.307248  20.983925
..        ...        ...
72  52.203615  20.859593
73  52.203615  20.859593
74  52.203615  20.859593
75  52.203615  20.859593
76  52.203615  20.859593

[6220 rows x 8 columns]